table {
  border: 2px solid rgba(39, 198, 204, 0.644);
  width: 800px;
  margin-left: 520px;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}


@media only screen and (max-width: 688px) {
    table{
        width: 400px;
        margin-left: 5px;
    }
}
